<%- include('header') -%>

<section id="admin-reservations">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <script type="text/javascript">
        function getTodayData(){
          const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
          const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
          const d = new Date();

          let this_month = month[d.getMonth()];
          let this_day = weekday[d.getDay()];
          let this_year = String(d.getFullYear());

          let today = {
            day: this_day,
            month: this_month,
            year: this_year
          }
          return today
        }
        let today = getTodayData();
        document.getElementsByClassName('card-title').innerHTML = today.month;
      </script>
      <h6 class="card-subtitle mb-2 text-muted"></h6>

      <!-- card table -->


      <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Hour</th>
        <th id="show-hide" scope="col">Show/Hide</th>
      </tr>
    </thead>
    <tbody>
      <%if(Docs.length > 0){%>
        <% Docs.forEach(function(doc){%>
          <tr>
            <td scope="row"><%= doc.name %></td>
            <td><%= doc.phone %></td>
            <td><%= doc.month %> <%= doc.dayNumber %></td>
            <td><%= doc.hour %></td>

            <td>
              <form class="remove-form" action="/admin" method="post">
                <input class="hidden" type="text" name="name" value="<%= doc.name %>">
                  <input class="hidden" type="text" name="phone" value="<%= doc.phone %>">
                  <input class="hidden" type="text" name="month" value="<%= doc.month %>">
                  <input class="hidden" type="text" name="month" value="<%= doc.hour %>">
                  <button class="remove-button" type="submit" name="button"><i class="fa-solid fa-circle-minus"></i></button>
              </form></td>
          </tr>
        <%})%>

      <%}%>


      </tbody>
  </table>



    </div>
  </div>


</section>

<%- include('footer') -%>
