


<%- include("header") -%>

<h1 id="message" class="hidden"><%=Msg%></h1>
<script type="text/javascript">
  let msg = document.getElementById('message').innerHTML;
  if(!msg==''){
      alert(msg);
  }

</script>


<div class="row">
  <div class="col">
    <div class="bg">
      <div class="">
        <%- include("calender") -%>
      </div>
    </div>
  </div>
  <div class="col">
    <div id="description">
      <%- include('description') -%>
    </div>
  </div>
</div>





<%- include("footer") -%>
